* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #1f0a12;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;
    position: absolute;
    z-index: 1;
    width: 100%;
    color: white;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.nav li { cursor: pointer; }

.nav .btn {
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background: #3877d4;
    color: #1f0a12;
    font-weight: bold;
    cursor: pointer;
}

.banner {
  position: relative;
  height: 480px;
  background: radial-gradient(circle at center, #123c9f, #4c0505);
  color: white;
  display: flex;
  align-items: center;
  padding: 60px;
  overflow: visible;
  width: auto;
  max-width: 1264px;
}

.banner-text {
  margin-top: 100px;
  max-width: 500px;
  z-index: 2;
  animation: floatText 4s ease-in-out infinite;
}

.banner-text h1 { font-size: 38px; margin-bottom: 12px; }
.banner-text p { opacity: 0.9; }
.banner-text button {
    margin-top: 20px;
    padding: 12px 26px;
    border-radius: 25px;
    border: none;
    background: #3877d4;
    color: #1f0a12;
    font-weight: bold;
    cursor: pointer;
}

.heart {
  position: absolute;
  right: 90px;
  font-size: 140px;
  animation: heartbeat 5s infinite;
  z-index: 2;
  top: 100px;
  overflow: hidden;
}

.wid-img { width: 300px; }

.challenges {
    padding: 60px 20px;
    background: linear-gradient(179deg, #1f0a12, #1f0a12, #081d44, #091d43);
    color: #fff;
    text-align: center;
}

.challenges h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: white;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    position: relative;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 25px;
    width: 280px;
    backdrop-filter: blur(10px);
    overflow: hidden;
    cursor: pointer;
}

/* Sides for the snake border */
.card span {
    position: absolute;
    display: block;
    background: #3877d4; /* Blue bolt color */
    transition: all 0.5s linear;
}

.card .top,
.card .bottom {
    width: 100%;
    height: 2px;
    transform: scaleX(0);
}

.card .left,
.card .right {
    width: 2px;
    height: 100%;
    transform: scaleY(0);
}

.card .top { top: 0; left: 0; transform-origin: left; }
.card .right { top: 0; right: 0; transform-origin: top; }
.card .bottom { bottom: 0; left: 0; transform-origin: right; }
.card .left { top: 0; left: 0; transform-origin: bottom; }

.card:hover { margin-top: 5px; transition: all 500ms ease-in-out; background-image: linear-gradient(#091d43, black);}
.card:hover .top { transform: scaleX(1); transition-delay: 0s; }
.card:hover .right { transform: scaleY(1); transition-delay: 0.125s; }
.card:hover .bottom { transform: scaleX(1); transition-delay: 0.25s; }
.card:hover .left { transform: scaleY(1); transition-delay: 0.375s; }


.card h3 { margin-bottom: 15px; font-size: 1.5rem; color: white; }
.card p { font-size: 1rem; color: #e0e0e0; }

.challenges.spotlight-wrapper {
    position: relative;
    overflow: hidden;
}
.carda
{
    margin-top: 20px;
}

.challenges.spotlight-wrapper .spotlight {
    
    display: none; /* hidden by default */
    position: absolute;
    pointer-events: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: radial-gradient(circle, rgb(81 20 20) 0%, rgb(76 121 150 / 12%) 70%);
    z-index: 1;
    transform: translate(-50%, -50%);

}


.challenges.spotlight-wrapper .container {
    position: relative;
    z-index: 2;
}

@keyframes heartbeat {
  0% { transform: scale(1); }
  30% { transform: scale(1.25); }
  50% { transform: scale(1); }
  70% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

@keyframes floatText {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}
